
Day1/hello.py
Day2/hello.py
Day3/hello.py
Day4/__pycache__/my_module.cpython-312.pyc
Day4/hello.py
Day4/my_module.py
Day5/hello.py
Day6/hello.py
Day7/hello.py
Day7/__pycache__/hangman_words.cpython-312.pyc
Day7/__pycache__/hangman_art.cpython-312.pyc
Day7/__pycache__/clear_console.cpython-312.pyc
Day8/hello.py
Day8/__pycache__/ceasar_cipher_art.cpython-312.pyc
Day9/hello.py
Day9/__pycache__/clear_console.cpython-312.pyc
Day9/__pycache__/art.cpython-312.pyc
Day10/hello.py
Day10/__pycache__/clear.cpython-312.pyc
Day10/__pycache__/art.cpython-312.pyc
Day11/hello.py
Day11/digramBlackJack.drawio
Day11/__pycache__/asci_art.cpython-312.pyc
Day11/__pycache__/clear.cpython-312.pyc
Day12/hello.py
Day12/guess_game.py
Day14/hello.py
Day14/__pycache__/game_data.cpython-312.pyc
Day14/__pycache__/clear.cpython-312.pyc
Day14/__pycache__/art.cpython-312.pyc
.idea/100DaysOfCode.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Day15/hello.py
Day16/hello.py
Day16/__pycache__/menu.cpython-312.pyc
Day16/__pycache__/money_machine.cpython-312.pyc
Day16/__pycache__/coffee_maker.cpython-312.pyc
Day17/__pycache__/quiz_brain.cpython-312.pyc
Day17/__pycache__/data.cpython-312.pyc
Day17/__pycache__/question_model.cpython-312.pyc
Day17/hello.py
Day18/hello.py

Day19/function.py
Day19/hello2.py
Day20/Hello.py
Day20/__pycache__/snake.cpython-312.pyc
Day21/Hello.py
Day21/__pycache__/snake.cpython-312.pyc
Day21/__pycache__/scoreboard.cpython-312.pyc
Day21/__pycache__/food.cpython-312.pyc
Pea/Test.py
Day23/hello.py
Day22/hello.py
Day22/__pycache__/scoreboard.cpython-312.pyc
Day22/__pycache__/paddle.cpython-312.pyc
Day22/__pycache__/ball.cpython-312.pyc
Day23/__pycache__/player.cpython-312.pyc
Day23/__pycache__/car_manager.cpython-312.pyc
Day23/__pycache__/scoreboard.cpython-312.pyc
Day24/hello.py
Day24/fileApp.py
Day24/new_file.txt
Day24/__pycache__/snake.cpython-312.pyc
Day24/__pycache__/scoreboard.cpython-312.pyc
Day24/__pycache__/food.cpython-312.pyc
.idea/csv-editor.xml
Day25/UsStateGame/main.py
Day25/hello.py
Day26/hello.py
Day27/hello.py
Day28/hello.py
Day29/hello.py
Day30/hello.py
Day30/A_file.txt
Day30/PasswordMenager/passward.txt
Day31/hello.py
Day32/hello.py
Day32/gmail.txt
Day32/birthday-wisher-extrahard-start/main.py
Day33/hello.py
Day33/issoverhead-start/config.py
Day33/main.py
Day34/hello.py
Day34/quizzler-app-start/__pycache__/ui.cpython-312.pyc
Day34/quizzler-app-start/__pycache__/quiz_brain.cpython-312.pyc
Day34/quizzler-app-start/__pycache__/question_model.cpython-312.pyc
Day34/quizzler-app-start/__pycache__/data.cpython-312.pyc
Day35/hello.py
Day35/smsApp.py
Day36/hello.py
Day30/PasswordMenager/main.py
Day30/PasswordMenager/main.py
Day37/hello.py
Day38/hello.py
Day39/notification_manager.py
Day39/main.py
Day39/hello.py
Day38/main.py
Day39/__pycache__/notification_manager.cpython-312.pyc
Day39/flight_data.py
Day39/flight_search.py
Day39/data_manager.py
Day39/__pycache__/flight_search.cpython-312.pyc
Day39/__pycache__/flight_data.cpython-312.pyc
Day39/__pycache__/data_manager.cpython-312.pyc
Day40/main.py
Day40/flight-deals-end/notification_manager.py
Day40/flight-deals-end/main.py
Day40/flight-deals-end/flight_search.py
Day40/flight-deals-end/flight_data.py
Day40/flight-deals-end/data_manager.py
Day40/flight-deals-end/__pycache__/notification_manager.cpython-312.pyc
Day40/flight-deals-end/__pycache__/flight_search.cpython-312.pyc
Day40/flight-deals-end/__pycache__/flight_data.cpython-312.pyc
Day40/flight-deals-end/__pycache__/data_manager.cpython-312.pyc
Day40/flight-app/flight-deals-end/__pycache__/notification_manager.cpython-312.pyc
Day40/flight-app/flight-deals-end/__pycache__/flight_search.cpython-312.pyc
Day40/flight-app/flight-deals-end/__pycache__/flight_data.cpython-312.pyc
Day40/flight-app/flight-deals-end/__pycache__/data_manager.cpython-312.pyc
Day41/hello.py
Day45/hello.py
Day45/films.txt
Day46/.cache
Day46/angella_code.py
Day46/hello.py
Day47/hello.py
Day48/hello.py
Day49/hello.py
Day50/hello.py
Day50/main.py
Day51/hello.py
Day52/hello.py
Day51/test.py
Day53/hello.py
Day53/test.py
Day53/test_fire_fox.py
Day53/working_fire.py
Day54/hello_flask/__pycache__/hello.cpython-312.pyc
Day54/hello.py
Nba
Day54/deco.py
Day56/hello.py
Day51/main.py
Day62/day-62-coffee-and-wifi-end/cafe-data.csv
Day62/day-62-coffee-and-wifi-end/main.py
Day62/day-62-coffee-and-wifi-end/requirements.txt
Day62/day-62-coffee-and-wifi-end/static/css/styles.css
Day62/day-62-coffee-and-wifi-end/templates/add.html
Day62/day-62-coffee-and-wifi-end/templates/base.html
Day62/day-62-coffee-and-wifi-end/templates/cafes.html
Day62/day-62-coffee-and-wifi-end/templates/index.html
