/* class selector */
.red-text {
    color: tomato;
}
/* element selecotr */
h2 {
    color: blue;
}
/* id selector */
#main {
    color: aquamarine;
}
/* attribute selector */
p[draggable] {
    color: blueviolet;
}
/* attribute selector set */
p[draggable="false"] {
    color: chartreuse;
}
/* universal selector */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}