{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
          <thead>
            <tr>
                {% for item in cafes[0] %}
                <th scope="col" style="background-color: #333; color: white;">{{ item }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
                {% for row in cafes[1:] %}
                <tr>
                    <td style="background-color: #333; color: white;">{{row[0]}}</td>
                    <td style="background-color: #333; color: white;"><a href="{{row[1]}}">Mapa Link</a></td>
                {% for item in row[2:] %}
                    <td style="background-color: #333; color: white;">{{ item }}</td>
                {% endfor %}
                </tr>
                {% endfor %}
          </tbody>
  	  </table>

      <p id="pTest"><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
